body {
	max-width: 900px;
	margin: 0 auto;
	width: 100%;
	overflow-x: hidden;
	background-color: #f5f9fc;
}

ul {
	list-style-type: none;
	-webkit-padding-start: 0;
}

.name, .meal-stars, .meal-stars-black {
	float: left;
}

.fancybox .item {
	width: 100%;
}

.fancybox div {
	display: inline-block;
}

.meal-stars-black {
	color: #aaa;
}

ul.meals {
	margin: 0 1em;
}

li.fancybox {
	padding: 8px;
	font-size: 1.2em;
	font-family: sans-serif;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 10px 5px;
	color: black;
	cursor: pointer;
	line-height: 0;
	background-color: white;
	-webkit-text-size-adjust: 100%;
}

li div {
	line-height: 100%;
}

li.fancybox:hover {
	background-color: #2889be;
	color: white;
	/*box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);*/
}

li:active, li.selected, li.selected:hover {
	color: black;
	border: 1px solid transparent;
	background: none;
	cursor: default;
	box-shadow: none;
}

li.selected {
	margin-top: 30px;
}

.selected .name, .selected:hover .name {
	float: none;
}

.selected .item {
	text-align: center;
}

#rating {
	display: none;
	font-size: 5em;
	cursor: pointer;
	text-align: center;
}

h3 {
	font-family: serif;
	font-size: 2.5em;
	margin: 1em 0.5em 0em 0.5em;
	text-align: center;
	border-bottom: 1px solid black;
	font-weight: normal;
	font-style: italic;
	padding-bottom: 35px;
}

body.meal-selected .meals li {
	display: none;
}

body.meal-selected .meals li.selected {
	display: block;
}

body.meal-selected #rating {
	display: block;
}

#span-rate {
	display: none;
}

body.meal-selected #span-rate {
	display:inline;
}

body.meal-selected #span-select {
	display:none;
}

#footer {
	font-family: sans-serif;
	margin: 2em;
	margin-bottom: 1em;
	font-size: 10px;
	color: #aaa;
	text-align: center;
	-webkit-text-size-adjust: 100%;
}

a {
	color: #2889be;
}

.stars {
	color: black;
	text-shadow: none;
}

.stars:hover {
	color: gold;
	text-shadow: black 0 0 2px;
}

#rating em {
	font-size: 0.2em;
}

.price, .meal-rated {
	font-size: 0.7em;
	color: grey;
	margin: 0px 0.4em 0 0.4em;
	float: left;
}

li:hover .price, li:hover .meal-rated {
	color: white;
}

.meal-all-stars {
	float: right;
	margin: 2px 0px -2px;
}

.meal-stars {
	color: gold;
}

li.selected:hover .price, li.selected:hover .meal-rated {
	color: grey;
}

body.meal-selected .days {
	display: none;
}

.days {
	text-align: center;
	margin: -10px 0.5em 23px 0.5em;
	height: 32px;
}

.day {
	font-family: sans-serif;
	color: #2889be;
	cursor: pointer;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	padding: 6px;
	background-color: white;
}

.days>span:first-child {
	border-left: 1px solid #2889be;
	border-radius: 5px 0 0 5px;
}

.days>span:last-child {
	border-radius: 0 5px 5px 0;
}

.day:hover {
	color: white;
	background-color: #2889be;
}

.day-selected {
	color: white;
	background-color: gray;
}

@media screen and (max-width: 399px) {
	span.full, .meal-rated {
		display: none;
	}
	#rating {
		font-size: 2.5em;
	}
}

li.meta .meal-all-stars {
	display: none;
}

li.meta {
	font-family: serif;
	font-style: italic;
	font-size: 1.5em;
	margin: 10px 5px;
	border: 1px solid transparent;
}

.meta .item {
	text-align: center;
}

.meta .name {
	float: none;
}

.price {
	min-width: 35px;
	text-align: right;
}

.selected div.meal-all-stars, li.selected:hover div.meal-all-stars  {
	display: none;
}

h3 a:link, h3 a:hover, h3 a:active, h3 a:focus, h3 a {
	color: black;
	text-decoration: none;
}

#rating em {
	float: none;
	display: block;
}
